Repository kakao-bootcamp-26/traveling-app: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, frontend-lint

lefthook.yml:

commit-msg:
  parallel: true
  commands:
    lint-commit-msg:
      run: yarn commitlint --edit
    # spell-check:
    #   run: yarn cspell --no-summary {1}

pre-commit:
  parallel: true
  commands:
    prettier:
      # glob: "*.{js,ts,tsx,json}"
      # run: |
      #   yarn prettier --write $(echo {staged_files} | sed -e 's/js\///g')
      #   git add $(echo {staged_files} | sed -e 's/js\///g')
      glob: "*.{js,ts,tsx,json}"
      run: |
        echo "Running Prettier"
        echo {staged_files} | tr ' ' '\n' | grep -E "\.(js|ts|tsx|json)$" | xargs -I {} sh -c 'yarn prettier --write "{}" && git add "{}"'
    frontend-lint:
      root: "frontend/react-app"
      glob: "**/*.{js,ts,jsx,tsx,json}"
      run: yarn run lint {staged_files}
      # glob: "**/*.{js,ts,jsx,tsx,json}"
      # run: |
      #   echo "Running Frontend Lint"
      #   echo {staged_files} | tr ' ' '\n' | grep -E "\.(js|ts|jsx|tsx|json)$" | xargs -I {} sh -c 'yarn --cwd frontend/react-app run lint "{}"'
    backend-lint:
      root: "backend/nest-backend"
      run: yarn run lint {staged_files}
      # root: "backend/nest-backend"
      # run: |
      #   echo "Running Backend Lint"
      #   echo {staged_files} | tr ' ' '\n' | grep -E "\.(js|ts|jsx|tsx|json)$" | xargs -I {} sh -c 'yarn --cwd backend/nest-backend run lint "{}"'

pre-push:
  parallel: true
  commands:
    branchName:
      run: |
        echo "Running validate-branch-name"
        npx validate-branch-name

fix: 챗봇에서 제공되는 반환값 타입오류 수정
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/MessageParser.tsx
  yarn.lock
Due: prettier, frontend-lint

-- host 설정으로 실행하도록 설정
  frontend/react-app/Dockerfile
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
  terraform/terraformplan
Due: none

fix: 로그인 성공 후 리다이렉트 되도록 수정
  backend/nest-backend/src/auth/auth.controller.ts
  backend/nest-backend/src/auth/auth.service.ts
  backend/nest-backend/src/main.ts
Due: prettier

feat: 구글 로그인 OAuth 기능 구현
  frontend/react-app/src/pages/login/hooks/useLoginHandler.ts
  frontend/react-app/src/services/auth/index.ts
Due: prettier, frontend-lint

chore: 안쓰는 의존성(react-oauth, jwt-decode) 제거
  frontend/react-app/package.json
  frontend/react-app/src/App.tsx
  yarn.lock
Due: prettier, frontend-lint

chore: .env 경로 수정
  backend/nest-backend/src/app.module.ts
Due: prettier

fix: 항공사 정보, 공항 정보를 제공을 위한 adapter 수정
  backend/nest-backend/src/flight/adapter/naverFlight.adapter.ts
  backend/nest-backend/src/flight/dto/FlightCuration.dto.ts
Due: prettier

fix: 항공사 선택 기능을 위한 로직 수정
  frontend/react-app/src/pages/home/components/flightSuggestions/CurationItem.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/FlightSuggestions.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/FlightTimeInformation.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/SelectFlightOptions.tsx
  frontend/react-app/src/shared/entities/flightCuration.entity.ts
Due: prettier, frontend-lint

fix: manifest.json 오류 수정
  frontend/react-app/index.html
Due: none

백엔드 도커파일 수정
  backend/Dockerfile
  backend/nest-backend/Dockerfile
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
  terraform/terraformplan
Due: none

feat: 항공사 선택 기능 구현
  frontend/react-app/src/pages/home/components/flightSuggestions/CurationItem.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/FlightCuration.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/FlightSuggestions.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/NoFlightCuration.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/SelectFlightOptions.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/result/ResultPage.tsx
  frontend/react-app/src/pages/home/components/provider/FindFlightContext.tsx
  frontend/react-app/src/pages/home/components/provider/SelectAirlineContext.tsx
  frontend/react-app/src/pages/home/hooks/context/useFindFlightDispatchContext.ts
  frontend/react-app/src/pages/home/hooks/context/useFindFlightStateContext.ts
  frontend/react-app/src/pages/home/hooks/context/useSelectAirlineDispatchContext.ts
  frontend/react-app/src/pages/home/hooks/context/useSelectAirlineStateContext.ts
Due: prettier, frontend-lint

refactor: 항공권 큐레이션 아키텍처 수정
  frontend/react-app/src/pages/home/components/flightSuggestions/FlightSuggestions.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/curationList/failure/NoFlightCuration.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/curationList/success/CurationItem.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/curationList/success/FlightCuration.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/curationList/success/FlightTimeInformation.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/optionSelect/SelectFlightOptions.tsx
Due: prettier, frontend-lint

style: 항공사 옵션 선택 UI 수정
  frontend/react-app/src/pages/home/components/TravelInfoForm.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/optionSelect/SelectFlightOptions.tsx
  frontend/react-app/src/pages/home/page.tsx
Due: prettier, frontend-lint

백엔드 도커파일 조정
  backend/nest-backend/Dockerfile
  terraform/main.tf
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
  terraform/terraformplan
Due: none

ai 테라폼 추가
  terraform/main.tf
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
Due: none

feat: 호텔 추천 어댑터 및 api 구현
  backend/nest-backend/src/app.module.ts
  backend/nest-backend/src/flight/adapter/in/flight.controller.ts
  backend/nest-backend/src/flight/adapter/naverFlight.adapter.ts
  backend/nest-backend/src/flight/flight.module.ts
  backend/nest-backend/src/flight/flight.service.ts
  backend/nest-backend/src/hotels/adapter/in/hotels.controller.ts
  backend/nest-backend/src/hotels/dto/HotelCuration.dto.ts
  backend/nest-backend/src/hotels/dto/TravelInformation.dto.ts
  backend/nest-backend/src/hotels/hotels.module.ts
  backend/nest-backend/src/hotels/hotels.service.ts
Due: prettier

feat: 구글지도 표시 및 호텔 정보 추천 기능 구현
  frontend/react-app/index.html
  frontend/react-app/package.json
  frontend/react-app/src/pages/home/components/flightSuggestions/FlightSuggestions.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/curationList/success/AirportMap.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/curationList/success/FlightCuration.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/curationList/success/FlightCurationItem.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/curationList/success/HotelCuration.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/curationList/success/HotelCurationItem.tsx
  frontend/react-app/src/pages/home/hooks/hotel/useGetHotelRecommendations.ts
  frontend/react-app/src/pages/home/hooks/map/useGetAirportCoordinate.ts
  frontend/react-app/src/pages/home/hooks/map/useShowAirportMap.tsx
  frontend/react-app/src/services/flight/index.ts
  frontend/react-app/src/services/hotel/index.ts
  frontend/react-app/src/shared/dto/flightCurationReq.dto.ts
  frontend/react-app/src/shared/entities/hotelCuration.entity.ts
  frontend/react-app/src/shared/utils/geoCoding/getCoordinates.ts
  yarn.lock
Due: prettier, frontend-lint

style: 평점 디자인 수정
  frontend/react-app/src/pages/home/components/flightSuggestions/curationList/success/HotelCurationItem.tsx
Due: prettier, frontend-lint

refactor: 항공권 도메인 코드 아키텍처를 헥사고날 아키텍처로 수정
  backend/nest-backend/src/flight/adapter/in/web/flight.controller.ts
  backend/nest-backend/src/flight/application/port/in/RecommendFlightUseCase.ts
  backend/nest-backend/src/flight/application/service/flight.service.ts
  backend/nest-backend/src/flight/flight.module.ts
  backend/nest-backend/src/flight/flight.service.ts
Due: prettier

fix: 구글맵 LoadScript 위치 수정(useShowAirportMap ➡️ MainLayout)
  frontend/react-app/src/layouts/MainLayout/index.tsx
  frontend/react-app/src/pages/home/hooks/map/useShowAirportMap.tsx
Due: prettier, frontend-lint

젠킨스 파일 생성 & AI 자동실행
  Jenkinsfile
  terraform/main.tf
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
  terraform/terraformplan
Due: none

젠킨스 작업 디렉토리 확인
  Jenkinsfile
Due: none

젠킨스 디렉토리 구조 변경
  Jenkinsfile
Due: none

feat: 추천 호텔이 없는 경우의 UI 제공
  frontend/react-app/src/pages/home/components/flightSuggestions/curationList/success/HotelCuration.tsx
  frontend/react-app/src/pages/home/components/provider/SelectAirlineContext.tsx
  frontend/react-app/src/pages/home/hooks/map/useShowAirportMap.tsx
Due: prettier, frontend-lint

젠킨스에 권한 추가 및 컨테이너 삭제
  Jenkinsfile
  terraform/main.tf
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
  terraform/terraformplan
Due: none

젠킨스 디렉토리 출력하게 설정
  Jenkinsfile
Due: none

test
  Jenkinsfile
Due: none

젠킨스 작업 디렉토리 테스트
  Jenkinsfile
Due: none

테스트 삭제＆ 디렉토리 묶어주기
  Jenkinsfile
Due: none

다시 테스트
  Jenkinsfile
Due: none

젠킨스 기본 폴더에서 작업하도록 설정 변경
  Jenkinsfile
Due: none

젠킨스 깃 클론 수정
  Jenkinsfile
Due: none

브랜치 이름 변경
  Jenkinsfile
  terraform/main.tf
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
  terraform/terraformplan
Due: none

브랜치가 아니라 main 을 클론하게 변경
  Jenkinsfile
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
Due: none

Main이 아니라 Deploy 브랜치 클론하게 변경
  Jenkinsfile
Due: none

fix: 폴더명에 out이 들어가서 staging에 못 올라가는 이슈 수정
  backend/nest-backend/src/flight/application/port/outgoing/FetchNaverRecommendFlightUseCase.ts
  backend/nest-backend/src/hotels/adapter/outgoing/naverHotelRecommendation.adapter.ts
  backend/nest-backend/src/hotels/adapter/outgoing/payload/makeHotelRecommendationPayload.ts
  backend/nest-backend/src/hotels/hotels.service.ts
Due: prettier

ai 젠킨스 파일 작성중
  Jenkinsfile
  Jenkinsfile_ai
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
  terraform/terraformplan
Due: none

테라폼 생성
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
  terraform/terraformplan
Due: none

Deploy 테스트
  Jenkinsfile
Due: none

ai 8080포트 열어주기
  terraform/main.tf
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
  terraform/terraformplan
Due: none
