Repository kakao-bootcamp-26/traveling-app: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, frontend-lint

lefthook.yml:

# # EXAMPLE USAGE:
# #
# #   Refer for explanation to following link:
# #   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
# #
# # pre-push:
# #   commands:
# #     packages-audit:
# #       tags: frontend security
# #       run: yarn audit
# #     gems-audit:
# #       tags: backend security
# #       run: bundle audit
# #
# # pre-commit:
# #   parallel: true
# #   commands:
# #     eslint:
# #       glob: "*.{js,ts,jsx,tsx}"
# #       run: yarn eslint {staged_files}
# #     rubocop:
# #       tags: backend style
# #       glob: "*.rb"
# #       exclude: '(^|/)(application|routes)\.rb$'
# #       run: bundle exec rubocop --force-exclusion {all_files}
# #     govet:
# #       tags: backend style
# #       files: git ls-files -m
# #       glob: "*.go"
# #       run: go vet {files}
# #   scripts:
# #     "hello.js":
# #       runner: node
# #     "any.go":
# #       runner: go run

# pre-commit:
#   parallel: true
#   commands:
#     format:
#       run: yarn format
#       stage_fixed: true
#     lint-next:
#       run: yarn lint:next
#       stage_fixed: true
#     lint:
#       run: yarn lint
#       stage_fixed: true

# pre-commit:
#   parallel: true
#   commands:
#     lint:
#       # root: "packages"
#       glob: '*.{js,ts,jsx,tsx}' # glob filter for list of files
#       # run: yarn run lint
#       run: yarn workspaces foreach -p run lint --cache
#     format:
#       # root: "packages/frontend/next-app"
#       glob: "*.{ts,tsx,js,jsx,json}"
#       run: yarn run format

#       stage_fixed: true
#     # types:
#       # glob: '*.{js,ts, jsx, tsx}'
#     ts_format:
#       root: "packages/*"
#       glob: "*.{ts,tsx}"
#       run: yarn run typecheck
#     gitLeaks:
#       run: yarn run gitleaks
# pre-push:
#   parallel: true
#   commands:
#     branchName:
#       run: npx validate-branch-name
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
# commit-msg:
#   parallel: true
#   scripts:
#     "commitlint.sh":
#       runner: bash

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{js,ts,tsx,json}"
      run: yarn prettier --write $(echo {staged_files} | sed -e 's/js\///g') && git add $(echo {staged_files} | sed -e 's/js\///g')
    # eslint:
    #   glob: "*.{js,ts,jsx,tsx,json}"
    #   run: yarn workspaces foreach --all run lint --cache
    # run: yarn eslint --fix --no-ignore $(echo {staged_files} | sed -e 's/js\///g') && git add $(echo {staged_files} | sed -e 's/js\///g')
    # frontend-lint:
    #   root: "frontend/next-app"
    #   glob: "**/*.{js,ts,jsx,tsx,json}"
    frontend-lint:
      root: "frontend/react-app"
      glob: "**/*.{js,ts,jsx,tsx,json}"
      # run: |
      #   echo "Running ESLint for frontend {staged_files}" | tee -a pre-commit.log
      #   yarn run lint 2>&1 | tee -a pre-commit.log
      run: yarn run lint
      # run: yarn workspaces foreach -p run lint --cache
    backend-lint:
      root: "backend/nest-backend"
      run: yarn run lint
pre-push:
  parallel: true
  commands:
    branchName:
      run: echo "Running validate-branch-name" && npx validate-branch-name
      run: npx validate-branch-name
    # packages-audit:
    #   tags: frontend security
    #   run: yarn audit
commit-msg:
  parallel: true
  scripts:
    "commitlint.sh":
      runner: bash

fix: tsx 관련 기능 수정
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/bin/prettier.cjs
  .yarn/sdks/prettier/index.cjs
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  frontend/react-app/package.json
  frontend/react-app/src/App.tsx
  frontend/react-app/src/main.tsx
  frontend/react-app/tsconfig.app.json
  frontend/react-app/tsconfig.json
  frontend/react-app/tsconfig.node.json
  frontend/react-app/vite.config.ts
  package.json
  yarn.lock
Due: prettier, frontend-lint

fix: 컴파일 오류 수정
  frontend/components/package.json
  frontend/components/src/core/button/Button.tsx
  frontend/components/src/core/button/index.ts
  frontend/components/src/core/form/Form.tsx
  frontend/components/src/core/form/index.ts
  frontend/components/src/core/index.ts
  frontend/components/src/index.ts
  frontend/components/tsconfig.json
  frontend/react-app/src/shared/components/sidebar/Sidebar.tsx
  frontend/react-app/tsconfig.json
  lefthook.yml
  package.json
  packages/common/tsconfig.json
  tsconfig.base.json
Due: prettier, frontend-lint

fix: tsc 컴파일 오류 수정
  packages/common/package.json
  packages/common/tsconfig.json
Due: prettier

fix: 사이드바 삭제시 최신 아이템 선택 안되는 이슈 해결
  frontend/components/src/core/button/Button.tsx
  frontend/react-app/package.json
  frontend/react-app/src/App.tsx
  frontend/react-app/src/constants/localStorageKey.ts
  frontend/react-app/src/hooks/useControlMenuList.tsx
  frontend/react-app/src/hooks/useGetMenuList.ts
  frontend/react-app/src/shared/atom/travelAtom.ts
  frontend/react-app/src/shared/atom/utils.ts
  frontend/react-app/src/shared/components/sidebar/Sidebar.tsx
  frontend/react-app/src/shared/entities/index.ts
  frontend/react-app/src/shared/entities/travelInfo.entity.ts
  frontend/react-app/src/shared/utils/menuItem.ts
  frontend/react-app/src/shared/utils/travelInfo.ts
  yarn.lock
Due: prettier, frontend-lint

feat: 배경 화면 스타일 입히기
  frontend/react-app/src/layouts/MainLayout.tsx
  frontend/react-app/src/layouts/layout.css
  frontend/react-app/src/shared/components/sidebar/Sidebar.tsx
Due: prettier, frontend-lint

style: scrollbar hide
  frontend/react-app/src/layouts/layout.css
  frontend/react-app/src/shared/components/sidebar/Sidebar.tsx
Due: prettier, frontend-lint

feat: form UI 구현, panel 애니메이션 구현
  frontend/components/src/core/form/Form.tsx
  frontend/components/src/core/index.ts
  frontend/components/src/index.ts
  frontend/react-app/src/layouts/MainLayout.tsx
  frontend/react-app/src/layouts/layout.css
  frontend/react-app/src/pages/home/components/FlightConfigurationPanel.tsx
  frontend/react-app/src/pages/home/components/FlightPanelUI.tsx
  frontend/react-app/src/pages/home/components/TravelInfoForm.tsx
  frontend/react-app/src/pages/home/page.tsx
  frontend/react-app/src/shared/atom/travelAtom.ts
  frontend/react-app/src/shared/components/sidebar/Sidebar.tsx
  frontend/react-app/src/shared/utils/travelInfo.ts
Due: prettier, frontend-lint

feat: 목적지 수정 패널 구현
  frontend/react-app/src/pages/home/components/FlightConfigurationPanel.tsx
  frontend/react-app/src/pages/home/components/FlightPanelUI.tsx
  frontend/react-app/src/pages/home/components/TravelInfoForm.tsx
  frontend/react-app/src/pages/home/components/panelItem/DestinationPanelItem.tsx
  frontend/react-app/src/pages/home/components/panelItem/OriginPanelItem.tsx
  frontend/react-app/src/pages/home/components/panelItem/PassengerPanelItem.tsx
  frontend/react-app/src/pages/home/page.tsx
  frontend/react-app/src/shared/atom/travelAtom.ts
  frontend/react-app/src/shared/utils/menuItem.ts
  frontend/react-app/src/shared/utils/travelInfo.ts
Due: prettier, frontend-lint

feat: 인원수 변경하는 패널 기능 추가
  frontend/components/src/core/button/Button.tsx
  frontend/react-app/src/pages/home/components/FlightConfigurationPanel.tsx
  frontend/react-app/src/pages/home/components/TravelInfoForm.tsx
  frontend/react-app/src/pages/home/components/panelItem/OriginPanelItem.tsx
  frontend/react-app/src/pages/home/components/panelItem/PassengerPanelItem.tsx
  frontend/react-app/src/pages/home/components/panelItem/SchedulePanelItem.tsx
  frontend/react-app/src/shared/atom/travelAtom.ts
  frontend/react-app/src/shared/entities/travelInfo.entity.ts
  frontend/react-app/src/shared/utils/travelInfo.ts
Due: prettier, frontend-lint

feat: 항공권 클래스 선택 기능 추가
  frontend/react-app/src/pages/home/components/TravelInfoForm.tsx
  frontend/react-app/src/pages/home/components/panelItem/PassengerPanelItem.tsx
  frontend/react-app/src/pages/home/utils/index.ts
  frontend/react-app/src/pages/home/utils/passengerInformationToString.ts
  frontend/react-app/src/shared/components/sidebar/Sidebar.tsx
  frontend/react-app/src/shared/entities/travelInfo.entity.ts
  frontend/react-app/src/shared/utils/menuItem.ts
  frontend/react-app/src/shared/utils/menuItem.tsx
Due: prettier, frontend-lint

feat: 폰트 적용 및 여행 날짜 선택 inputbox 추가
  frontend/react-app/package.json
  frontend/react-app/public/fonts/Pretendard-Black.ttf
  frontend/react-app/public/fonts/Pretendard-Bold.ttf
  frontend/react-app/public/fonts/Pretendard-R.ttf
  frontend/react-app/public/fonts/Pretendard-SemiBold.ttf
  frontend/react-app/public/fonts/Pretendard-Thin.ttf
  frontend/react-app/src/assets/fonts/Pretendard-Black.ttf
  frontend/react-app/src/assets/fonts/Pretendard-Bold.ttf
  frontend/react-app/src/assets/fonts/Pretendard-R.ttf
  frontend/react-app/src/assets/fonts/Pretendard-SemiBold.ttf
  frontend/react-app/src/assets/fonts/Pretendard-Thin.ttf
  frontend/react-app/src/index.css
  frontend/react-app/src/pages/home/components/FlightConfigurationPanel.tsx
  frontend/react-app/src/pages/home/components/TravelInfoForm.tsx
  frontend/react-app/src/pages/home/components/panelItem/PassengerPanelItem.tsx
  frontend/react-app/src/pages/home/components/panelItem/SchedulePanelItem.tsx
  frontend/react-app/src/reset.css
  frontend/react-app/src/shared/entities/travelInfo.entity.ts
  yarn.lock
Due: prettier, frontend-lint

feat: 날짜 선택 기능 추가
  frontend/react-app/src/pages/home/components/FlightConfigurationPanel.tsx
  frontend/react-app/src/pages/home/components/TravelInfoForm.tsx
  frontend/react-app/src/pages/home/components/panelItem/SchedulePanelItem.tsx
  frontend/react-app/src/pages/home/utils/index.ts
  frontend/react-app/src/pages/home/utils/scheduleInformationToString.tsx
  frontend/react-app/src/shared/atom/utils.ts
Due: prettier, frontend-lint

feat: seo 최적화를 위한 puppeteer, react-async-helmet 의존성 추가 및 구현
  frontend/react-app/package.json
  frontend/react-app/src/App.tsx
  frontend/react-app/src/hooks/useControlMenuList.tsx
  frontend/react-app/src/pages/home/page.tsx
  frontend/react-app/src/pages/home/utils/scheduleInformationToString.ts
  frontend/react-app/src/shared/components/sidebar/Label.tsx
  frontend/react-app/src/shared/components/sidebar/index.ts
  frontend/react-app/src/shared/utils/menuItem.tsx
  frontend/react-app/vite.config.ts
  yarn.lock
Due: prettier, frontend-lint

feat: 출발일, 도착일 비교해서 입력양식에 맞지 않으면 notification을 주는 기능 추가
  frontend/react-app/package.json
  frontend/react-app/postcss.config.js
  frontend/react-app/src/index.css
  frontend/react-app/src/pages/home/components/FlightConfigurationPanel.tsx
  frontend/react-app/src/pages/home/components/panelItem/OriginPanelItem.tsx
  frontend/react-app/src/pages/home/components/panelItem/SchedulePanelItem.tsx
  frontend/react-app/tailwind.config.js
  yarn.lock
Due: prettier, frontend-lint

style: 인원 선택 버튼 UI 스타일 수정
  frontend/react-app/src/pages/home/components/panelItem/PassengerPanelItem.tsx
Due: prettier, frontend-lint

fix: 여행 종료 datepicker가 안 닫히는 이슈 수정
  frontend/react-app/src/pages/home/components/TravelInfoForm.tsx
  frontend/react-app/src/pages/home/components/panelItem/SchedulePanelItem.tsx
  frontend/react-app/src/pages/home/utils/checkNonBlurTarget.ts
  frontend/react-app/src/pages/home/utils/index.ts
Due: prettier, frontend-lint

style: 패널이 뜨면 뒷배경이 흐려지도록 구현
  frontend/react-app/src/index.css
  frontend/react-app/src/pages/home/components/FlightConfigurationPanel.tsx
  frontend/react-app/src/pages/home/components/TravelInfoForm.tsx
  frontend/react-app/src/pages/home/page.tsx
Due: prettier, frontend-lint

chore: 백엔드 실행 scripts 수정
  package.json
Due: prettier

feat: 출발지 공항 한국어 정보 제공
  frontend/react-app/src/constants/airports.ts
  frontend/react-app/src/constants/index.ts
  frontend/react-app/src/pages/home/components/TravelInfoForm.tsx
Due: prettier, frontend-lint

style: inputbox, button 스타일 추가
  frontend/react-app/src/pages/home/components/TravelInfoForm.tsx
  frontend/react-app/src/pages/home/components/panelItem/DestinationPanelItem.tsx
  frontend/react-app/src/pages/home/components/panelItem/SchedulePanelItem.tsx
Due: prettier, frontend-lint

test: 테스트코드를 위한 @testing-library, vitest 설치
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/bin/prettier.cjs
  .yarn/sdks/prettier/index.cjs
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  frontend/react-app/package.json
  frontend/react-app/src/hooks/useControlMenuList.tsx
  frontend/react-app/src/shared/utils/index.ts
  frontend/react-app/src/shared/utils/menuItem/index.tsx
  frontend/react-app/src/shared/utils/travelInfo/index.test.ts
  frontend/react-app/src/shared/utils/travelInfo/index.ts
  frontend/react-app/src/tests/setup.ts
  frontend/react-app/tsconfig.json
  frontend/react-app/tsconfig.node.json
  frontend/react-app/vite.config.ts
  package.json
  yarn.lock
Due: prettier, frontend-lint

test: useControlMenuList 커스텀훅, 사이드바 컴포넌트 테스트코드 작성
  frontend/react-app/package.json
  frontend/react-app/src/hooks/useControlMenuList.test.tsx
  frontend/react-app/src/shared/atom/travelAtom.ts
  frontend/react-app/src/shared/atom/utils.ts
  frontend/react-app/src/shared/components/sidebar/Label.tsx
  frontend/react-app/src/shared/components/sidebar/Sidebar.test.tsx
  frontend/react-app/src/shared/utils/menuItem/index.test.tsx
  frontend/react-app/src/shared/utils/menuItem/index.tsx
  frontend/react-app/src/tests/__mocks__/travelItem.ts
  package.json
  yarn.lock
Due: prettier, frontend-lint

feat: google OAuth 로그인을 위한 의존성 설치 및 버튼 클릭 이벤트핸들러 구현
  frontend/react-app/src/App.tsx
  frontend/react-app/src/pages/login/components/LoginCard.tsx
  frontend/react-app/src/pages/login/hooks/useLoginHandler.ts
  frontend/react-app/src/pages/login/page.tsx
  frontend/react-app/src/services/auth/index.ts
Due: prettier, frontend-lint

fix: eslint 옵션 수정(any 타입 허용 및 exhaustive deps 문제)
  frontend/react-app/eslint.config.mjs
Due: none

feat: 로그인 화면에서의 로고 버튼 클릭시 애니메이션 등장하도록 구현
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/bin/prettier.cjs
  .yarn/sdks/prettier/index.cjs
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  frontend/react-app/package.json
  frontend/react-app/src/assets/models/airplane.obj
  frontend/react-app/src/pages/login/components/Airplane.tsx
  frontend/react-app/src/pages/login/components/Logo.tsx
  frontend/react-app/src/pages/login/page.tsx
  frontend/react-app/src/services/auth/index.ts
  frontend/react-app/src/services/index.ts
  frontend/react-app/vite.config.ts.timestamp-1723192566462-69a2d614e6a6b.mjs
  yarn.lock
Due: prettier, frontend-lint

chore: eslint 설정파일의 주석 제거
  frontend/react-app/eslint.config.mjs
Due: none

feat: 로그인 UI 수정
  frontend/react-app/src/App.tsx
  frontend/react-app/src/index.css
  frontend/react-app/src/pages/login/components/Airplane.tsx
  frontend/react-app/src/pages/login/components/LoginCard.tsx
  frontend/react-app/src/pages/login/components/Logo.tsx
  frontend/react-app/src/pages/login/page.tsx
  frontend/react-app/src/routes/index.tsx
  frontend/react-app/tailwind.config.js
Due: prettier, frontend-lint

fix: backend eslint 설정 수정
  backend/nest-backend/.eslintrc.js
  backend/nest-backend/eslint.config.js
  backend/nest-backend/package.json
  backend/nest-backend/tsconfig.build.json
  backend/nest-backend/tsconfig.json
  yarn.lock
Due: prettier

feat: 페이지별 메타데이터 추가
  frontend/react-app/src/pages/home/page.tsx
  frontend/react-app/src/pages/login/page.tsx
Due: prettier, frontend-lint

fix: 모노레포 의존성 제거
  backend/nest-backend/tsconfig.json
  frontend/react-app/package.json
  frontend/react-app/src/pages/home/components/panelItem/DestinationPanelItem.tsx
  frontend/react-app/src/pages/home/constants/keywords.ts
  frontend/react-app/src/pages/login/components/LoginCard.tsx
  frontend/react-app/src/shared/components/sidebar/Sidebar.tsx
  frontend/react-app/tsconfig.json
Due: prettier, frontend-lint

chore: .env 환경변수 설정에 필요한 package install
  backend/nest-backend/package.json
  yarn.lock
Due: prettier

feat: 환경변수 설정을 위한 ConfigModule 추가
  backend/nest-backend/src/app.module.ts
Due: prettier

feat: auth service 추가
  backend/nest-backend/src/auth/auth.service.ts
Due: prettier

feat: typeorm pg 모듈 추가
  backend/nest-backend/package.json
  backend/nest-backend/src/app.module.ts
  yarn.lock
Due: prettier

feat: user entity 추가
  backend/nest-backend/src/users/user.entity.ts
Due: prettier

feat: users service 추가
  backend/nest-backend/src/users/users.entity.ts
  backend/nest-backend/src/users/users.service.ts
Due: prettier

feat: google strategy 추가
  backend/nest-backend/src/auth/strategies/google.strategy.ts
  backend/nest-backend/src/users/users.service.ts
Due: prettier

feat: 목적지 패널 funnel로 관리할 수 있도록 useFunnel 훅 구현
  frontend/react-app/src/shared/hooks/useFunnel.tsx
  yarn.lock
Due: prettier, frontend-lint
