Repository kakao-bootcamp-26/traveling-app: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, frontend-lint

prettier:
  run: 'echo "Running Prettier"
  
    echo {staged_files} | tr '' '' ''\n'' | grep -E "\.(js|ts|tsx|json)$" | xargs -I {} sh -c ''yarn prettier --write "{}" && git add "{}"''
  
    '

frontend-lint:
  run: yarn run lint {staged_files}

테라폼 젠킨스 성공
  .gitignore
  terraform/.terraform.lock.hcl
  terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.63.0/windows_amd64/LICENSE.txt
  terraform/main.tf
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
Due: none

fix: auth.service에서 user 정의 및 user types 업데이트
  backend/nest-backend/src/auth/auth.service.ts
Due: prettier

feat: auth.controller 추가
  backend/nest-backend/src/auth/auth.controller.ts
Due: prettier

feat: users.module 추가
  backend/nest-backend/src/auth/auth.module.ts
  backend/nest-backend/src/users/users.controller.ts
  backend/nest-backend/src/users/users.module.ts
Due: prettier

chore: auth.module 의존성 수정
  backend/nest-backend/src/auth/auth.module.ts
Due: prettier

chore: 백엔드 start:dev script 수정
  backend/nest-backend/package.json
  backend/nest-backend/src/auth/auth.e2e-spec.ts
  yarn.lock
Due: prettier

chore: typeOrmModule 모듈을 useFactory와 typeOrmConfig를 통해 분리
  backend/nest-backend/src/app.module.ts
  backend/nest-backend/src/config/typeorm.config.ts
Due: prettier

chore: typeormConfig의 .env 경로 수정
  backend/nest-backend/src/app.module.ts
Due: prettier

feat: auth.module에 passportModule import
  backend/nest-backend/src/auth/auth.module.ts
Due: prettier

chore: users.module 의존성 추가
  backend/nest-backend/src/app.module.ts
  backend/nest-backend/src/users/users.module.ts
Due: prettier

chore: .env 경로 수정
  backend/nest-backend/package.json
  backend/nest-backend/src/app.module.ts
  backend/nest-backend/src/config/typeorm.config.ts
Due: prettier

백엔드 도커파일 설정
  backend/Dockerfile
  terraform/main.tf
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
Due: none

프론트 도커 포트 수정
  frontend/react-app/Dockerfile
  terraform/.terraform.tfstate.lock.info
Due: none

feat: auth.controller에서 user 정보 반환 로직 추가
  backend/nest-backend/src/auth/auth.controller.ts
Due: prettier

feat: 항공권 크롤링 outgoing adapter 구현
  backend/nest-backend/package.json
  backend/nest-backend/src/app.module.ts
  backend/nest-backend/src/flight/adapter/naverFlight.adapter.ts
  backend/nest-backend/src/flight/adapter/payload/makeInternationalFlightListPayload.ts
  backend/nest-backend/src/flight/flight.controller.ts
  backend/nest-backend/src/flight/flight.module.ts
  backend/nest-backend/src/flight/flight.service.ts
  backend/nest-backend/test/app.e2e-spec.ts
  backend/nest-backend/tsconfig.json
Due: prettier

feat: 항공권 큐레이션 api 구현
  frontend/react-app/src/pages/home/components/provider/FindFlightContext.tsx
  frontend/react-app/src/services/auth/index.ts
  frontend/react-app/src/services/flight/index.ts
  frontend/react-app/vite.config.ts
  yarn.lock
Due: prettier, frontend-lint

ec2 인스턴스 루트 볼륨 확대
  frontend/react-app/Dockerfile
  terraform/.terraform.tfstate.lock.info
  terraform/main.tf
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
Due: none

vite 설치 경로 변경
  frontend/react-app/Dockerfile
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
Due: none

feat: req에 받은 user 정보를 조회/추가
  backend/nest-backend/src/auth/auth.service.ts
Due: prettier

fix: req에 반환될 내용 수정
  backend/nest-backend/src/auth/auth.service.ts
Due: prettier

feat: auth.service에서 return에 jwt token 추가
  backend/nest-backend/package.json
  backend/nest-backend/src/auth/auth.service.ts
  backend/nest-backend/src/main.ts
  yarn.lock
Due: prettier

fix: 항공권 api의 반환값 속성 수정
  backend/nest-backend/src/flight/adapter/naverFlight.adapter.ts
  backend/nest-backend/src/flight/flight.controller.ts
  backend/nest-backend/src/flight/flight.service.ts
Due: prettier

feat: 탄소 배출 및 비행 시간 데이터를 넘기도록 adapter 코드 수정
  backend/nest-backend/src/flight/adapter/naverFlight.adapter.ts
Due: prettier

feat: 항공 정보 큐레이션 카드 컴포넌트 구현
  frontend/react-app/src/pages/home/components/flightSuggestions/CurationItem.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/FlightSuggestions.tsx
  frontend/react-app/src/pages/home/components/provider/FindFlightContext.tsx
  frontend/react-app/src/services/flight/index.ts
  frontend/react-app/src/shared/atom/flightAtom.ts
  frontend/react-app/src/shared/components/loader/AirplaneLoader.tsx
  frontend/react-app/src/shared/entities/flightCuration.entity.ts
  frontend/react-app/tailwind.config.js
  frontend/react-app/vite.config.ts
Due: prettier, frontend-lint

fix: travelInfo 엔티티의 origin(출발지) 정보를 string 값에서 공항코드와 도시 value object 형태로 분리
  frontend/react-app/src/hooks/useControlMenuList.test.tsx
  frontend/react-app/src/pages/home/components/TravelInfoForm.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/FlightSuggestions.tsx
  frontend/react-app/src/pages/home/components/panelItem/original/OriginPanelItem.tsx
  frontend/react-app/src/pages/home/hooks/origin/useControlOrigin.ts
  frontend/react-app/src/shared/atom/travelAtom.ts
  frontend/react-app/src/shared/components/sidebar/Sidebar.test.tsx
  frontend/react-app/src/shared/entities/travelInfo.entity.ts
  frontend/react-app/src/shared/utils/menuItem/index.test.tsx
  frontend/react-app/src/shared/utils/menuItem/index.tsx
  frontend/react-app/src/shared/utils/travelInfo/index.test.ts
  frontend/react-app/src/shared/utils/travelInfo/index.ts
  frontend/react-app/src/tests/__mocks__/travelItem.ts
Due: prettier, frontend-lint

refactor: 항공편 시간 정보에 대한 컴포넌트를 분리해서 관리
  frontend/react-app/src/pages/home/components/TravelInfoForm.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/CurationItem.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/FlightTimeInformation.tsx
  frontend/react-app/src/shared/entities/flightCuration.entity.ts
Due: prettier, frontend-lint

style: 가격에 , 붙이도록 스타일 수정
  frontend/react-app/src/pages/home/components/flightSuggestions/CurationItem.tsx
Due: prettier, frontend-lint

feat: jwtPayload interface 정의
  backend/nest-backend/src/auth/jwt-payload.interface.ts
Due: prettier

feat: jwt 토큰 발급 기능 추가
  backend/nest-backend/src/auth/auth.service.ts
  backend/nest-backend/src/auth/strategies/jwt.strategy.ts
  backend/nest-backend/src/users/users.service.ts
Due: prettier

feat: jwt secret key 추가
  backend/nest-backend/src/app.module.ts
  backend/nest-backend/src/auth/auth.module.ts
Due: prettier

Docker build 및 Container 실행까지 작동
  frontend/react-app/Dockerfile
Due: none

feat: 여행 정보 기반으로 왕복에 대한 응답값 반환하는 API 구현
  backend/nest-backend/src/flight/adapter/naverFlight.adapter.ts
  backend/nest-backend/src/flight/adapter/payload/makeInternationalFlightListPayload.ts
  backend/nest-backend/src/flight/dto/TravelInformation.dto.ts
  backend/nest-backend/src/flight/flight.controller.ts
  backend/nest-backend/src/flight/flight.service.ts
Due: prettier

feat: 여행 정보 요청에 따라 항공권 추천 정보를 반환받아 그리기
  frontend/react-app/src/constants/airports.ts
  frontend/react-app/src/hooks/useControlMenuList.test.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/FlightSuggestions.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/message/CurationMessage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/keywordItem/RecommendationByKeywordPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/result/AIRecommendationResult.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/result/CityCuration.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/humanSelect/HumanSelectPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/result/ResultPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/original/OriginPanelItem.tsx
  frontend/react-app/src/pages/home/components/panelItem/schedule/SchedulePanelItem.tsx
  frontend/react-app/src/pages/home/components/provider/FindFlightContext.tsx
  frontend/react-app/src/pages/home/constants/fareType.ts
  frontend/react-app/src/pages/home/hooks/destination/useDestinationPanelFunnel.ts
  frontend/react-app/src/pages/home/hooks/schedule/usePickDate.ts
  frontend/react-app/src/pages/home/utils/scheduleInformationToString.ts
  frontend/react-app/src/services/flight/index.ts
  frontend/react-app/src/shared/atom/travelAtom.ts
  frontend/react-app/src/shared/entities/destination.entity.ts
  frontend/react-app/src/shared/entities/flightCurationReq.dto.ts
  frontend/react-app/src/shared/entities/travelInfo.entity.ts
  frontend/react-app/src/shared/utils/menuItem/index.test.tsx
  frontend/react-app/src/shared/utils/menuItem/index.tsx
  frontend/react-app/src/shared/utils/travelInfo/index.ts
  frontend/react-app/src/tests/__mocks__/travelItem.ts
Due: prettier, frontend-lint

feat: 항공권 데이터가 없는 경우, 데이터가 없다는 에러 반환
  backend/nest-backend/src/flight/adapter/naverFlight.adapter.ts
  backend/nest-backend/src/flight/flight.controller.ts
Due: prettier

feat: 항공권 응답 DTO를 에러가 있는 경우와 없는 경우로 분기해서 처리
  frontend/react-app/src/pages/home/components/TravelInfoForm.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/FlightSuggestions.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/FlightTimeInformation.tsx
  frontend/react-app/src/pages/home/components/provider/FindFlightContext.tsx
  frontend/react-app/src/services/flight/index.ts
  frontend/react-app/src/shared/atom/flightAtom.ts
  frontend/react-app/src/shared/entities/flightCuration.entity.ts
Due: prettier, frontend-lint

feat: naverFlightAdapter에 항공사 정보도 같이 불러오기
  backend/nest-backend/src/flight/adapter/naverFlight.adapter.ts
Due: prettier

refactor: auth.moudle을 type-safe하게 수정
  backend/nest-backend/src/auth/auth.service.ts
  backend/nest-backend/src/auth/strategies/google.strategy.ts
  backend/nest-backend/src/auth/strategies/jwt.strategy.ts
Due: prettier

feat: 정상적으로 데이터를 못 얻어오는 경우를 위해 최대 시도횟수만큼 요청 시도하기
  backend/nest-backend/src/flight/adapter/naverFlight.adapter.ts
  backend/nest-backend/src/flight/dto/FlightCuration.dto.ts
  backend/nest-backend/src/flight/flight.service.ts
Due: prettier

feat: 재시도할 수 있는 버튼 추가
  frontend/react-app/src/pages/home/components/flightSuggestions/CurationItem.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/FlightSuggestions.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/FlightTimeInformation.tsx
  frontend/react-app/src/pages/home/components/flightSuggestions/NoFlightCuration.tsx
  frontend/react-app/src/pages/home/components/provider/FindFlightContext.tsx
  frontend/react-app/src/shared/components/sidebar/Label.tsx
  frontend/react-app/src/shared/entities/flightCuration.entity.ts
Due: prettier, frontend-lint

fix: 머지 후 발생한 에러 수정(의존성 충돌)
  backend/nest-backend/package.json
  backend/nest-backend/src/auth/auth.e2e-spec.ts
  backend/nest-backend/src/main.ts
Due: prettier

Path conditions:
  prettier: any of: *.{js,ts,tsx,json}
  frontend-lint: any of: **/*.{js,ts,jsx,tsx,json} and ^frontend/react\-app/
