Repository kakao-bootcamp-26/traveling-app: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, frontend-lint

lefthook.yml:

commit-msg:
  parallel: true
  commands:
    lint-commit-msg:
      run: yarn commitlint --edit
    # spell-check:
    #   run: yarn cspell --no-summary {1}

pre-commit:
  parallel: true
  commands:
    prettier:
      # glob: "*.{js,ts,tsx,json}"
      # run: |
      #   yarn prettier --write $(echo {staged_files} | sed -e 's/js\///g')
      #   git add $(echo {staged_files} | sed -e 's/js\///g')
      glob: "*.{js,ts,tsx,json}"
      run: |
        echo "Running Prettier"
        echo {staged_files} | tr ' ' '\n' | grep -E "\.(js|ts|tsx|json)$" | xargs -I {} sh -c 'yarn prettier --write "{}" && git add "{}"'
    frontend-lint:
      root: "frontend/react-app"
      glob: "**/*.{js,ts,jsx,tsx,json}"
      run: yarn run lint {staged_files}
      # glob: "**/*.{js,ts,jsx,tsx,json}"
      # run: |
      #   echo "Running Frontend Lint"
      #   echo {staged_files} | tr ' ' '\n' | grep -E "\.(js|ts|jsx|tsx|json)$" | xargs -I {} sh -c 'yarn --cwd frontend/react-app run lint "{}"'
    backend-lint:
      root: "backend/nest-backend"
      run: yarn run lint {staged_files}
      # root: "backend/nest-backend"
      # run: |
      #   echo "Running Backend Lint"
      #   echo {staged_files} | tr ' ' '\n' | grep -E "\.(js|ts|jsx|tsx|json)$" | xargs -I {} sh -c 'yarn --cwd backend/nest-backend run lint "{}"'

pre-push:
  parallel: true
  commands:
    branchName:
      run: |
        echo "Running validate-branch-name"
        npx validate-branch-name

chore: common 의존성 제거
  backend/nest-backend/package.json
Due: prettier

chore: keyword 타입 추가
  frontend/react-app/src/pages/home/constants/keywords.ts
Due: prettier, frontend-lint

feat: 목적지 패널 funnel로 관리할 수 있도록 컴포넌트
  frontend/react-app/src/pages/home/components/FlightConfigurationPanel.tsx
  frontend/react-app/src/pages/home/components/panelItem/DestinationPanelItem.tsx
  frontend/react-app/src/pages/home/components/panelItem/destinationPanel/humanSelect/HumanSelectPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destinationPanel/keywordItem/KeywordItem.tsx
  frontend/react-app/src/pages/home/components/panelItem/destinationPanel/keywordItem/RecommendationByKeywordPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destinationPanel/question/QuestionPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destinationPanel/result/ResultPage.tsx
Due: prettier, frontend-lint

fix: 파일 길어지면 lefthook의 prettier 커맨드 개수 문제 발생하는 이슈 수정
  lefthook.yml
Due: none

도커 파일 수정중
  frontend/react-app/Dockerfile
Due: none

fix: createMenuItem의 테스트코드 타입 에러 수정
  frontend/react-app/src/shared/utils/menuItem/index.test.tsx
Due: prettier, frontend-lint

refactor: 탑승정보 선택 패널 파일 구조 수정
  frontend/react-app/src/pages/home/components/FlightConfigurationPanel.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/DestinationPanelItem.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/humanSelect/HumanSelectPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/keywordItem/KeywordItem.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/keywordItem/RecommendationByKeywordPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/question/QuestionPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/result/ResultPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/original/OriginPanelItem.tsx
  frontend/react-app/src/pages/home/components/panelItem/passenger/PassengerPanelItem.tsx
  frontend/react-app/src/pages/home/components/panelItem/schedule/SchedulePanelItem.tsx
Due: prettier, frontend-lint

feat: 키워드 선택 조건을 만족해야 다음 스텝으로 넘어가는 기능 구현
  frontend/react-app/src/pages/home/components/panelItem/destination/DestinationPanelItem.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/keywordItem/RecommendationByKeywordPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/question/QuestionPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/result/ResultPage.tsx
  frontend/react-app/src/pages/home/constants/keywords.ts
Due: prettier, frontend-lint

fix: cjs를 위해 type:module 제거 및 eslint 설정 수정
  backend/nest-backend/eslint.config.cjs
  backend/nest-backend/package.json
  backend/nest-backend/tsconfig.json
Due: prettier

feat: 국가 및 도시 선택 기능 구현
  frontend/react-app/src/pages/home/components/panelItem/destination/humanSelect/CitySelect.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/humanSelect/CountrySelect.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/humanSelect/HumanSelectPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/keywordItem/RecommendationByKeywordPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/question/QuestionPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/result/ResultPage.tsx
  frontend/react-app/src/pages/home/constants/countries.ts
  frontend/react-app/src/shared/hooks/useFunnel.tsx
  yarn.lock
Due: prettier, frontend-lint

feat: 사용자 도시 선택 기능 추가 및 공항 안내 기능 구현
  frontend/react-app/src/constants/airports.ts
  frontend/react-app/src/pages/home/components/TravelInfoForm.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/DestinationPanelItem.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/humanSelect/CitySelect.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/humanSelect/HumanSelectPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/result/ResultPage.tsx
  frontend/react-app/src/shared/atom/travelAtom.ts
  frontend/react-app/src/shared/entities/travelInfo.entity.ts
  frontend/react-app/src/shared/utils/menuItem/index.test.tsx
  frontend/react-app/src/shared/utils/menuItem/index.tsx
Due: prettier, frontend-lint

프론트 도커 및 테라폼 파일 구축
  .gitignore
  aws/kakao-team-travel.pem
  frontend/react-app/Dockerfile
  frontend/react-app/tsconfig.json
  frontend/react-app/vite.config.ts
  terraform/.terraform.lock.hcl
  terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.63.0/darwin_arm64/LICENSE.txt
  terraform/main.tf
  terraform/outputs.tf
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
  terraform/variables.tf
Due: prettier, frontend-lint

refactor: schedulePanel 비즈니스 로직을 useControlDatePicker로 분리
  frontend/react-app/src/pages/home/components/panelItem/schedule/SchedulePanelItem.tsx
  frontend/react-app/src/pages/home/hooks/schedule/useControlDatePicker.ts
Due: prettier, frontend-lint

도커파일 변경
  frontend/react-app/Dockerfile
Due: none

refactor: usePickDate 커스텀 훅으로 SchedulePanelItem의 날짜 선택 로직과 유효성 검사 로직을 분리
  frontend/react-app/src/pages/home/components/panelItem/schedule/SchedulePanelItem.tsx
  frontend/react-app/src/pages/home/hooks/notification/useNotification.ts
  frontend/react-app/src/pages/home/hooks/schedule/usePickDate.ts
Due: prettier, frontend-lint

refactor: useControlPassengerCount, useControlFlightClass 훅으로 PassengerPanelItem의 비즈니스로직 분리
  frontend/react-app/src/pages/home/components/panelItem/passenger/PassengerPanelItem.tsx
  frontend/react-app/src/pages/home/components/panelItem/passenger/flightClass/SelectFlightClass.tsx
  frontend/react-app/src/pages/home/components/panelItem/passenger/passengerCount/CounterFactory.tsx
  frontend/react-app/src/pages/home/components/panelItem/passenger/passengerCount/PassengerCounter.tsx
  frontend/react-app/src/pages/home/components/panelItem/passenger/passengerCount/SelectPassengerCount.tsx
  frontend/react-app/src/pages/home/hooks/passenger/useControlFlightClass.ts
  frontend/react-app/src/pages/home/hooks/passenger/useControlPassengerCount.ts
Due: prettier, frontend-lint

refactor: 컴포넌트명 수정, CounterFactory에서 PassengerCounterFactory로
  frontend/react-app/src/pages/home/components/panelItem/passenger/passengerCount/PassengerCounterFactory.tsx
  frontend/react-app/src/pages/home/components/panelItem/passenger/passengerCount/SelectPassengerCount.tsx
Due: prettier, frontend-lint

refactor: useControlOrigin 훅으로 출발지 패널에 대한 비즈니스 로직을 분리
  frontend/react-app/src/pages/home/components/panelItem/original/OriginPanelItem.tsx
  frontend/react-app/src/pages/home/hooks/origin/useControlOrigin.ts
Due: prettier, frontend-lint

refactor: 목적지 패널의 퍼널 관련 로직을 useDestinationPanelItem 훅으로 분리
  frontend/react-app/src/pages/home/components/panelItem/destination/DestinationPanelItem.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/init/InitPage.tsx
  frontend/react-app/src/pages/home/hooks/destination/useDestinationPanelFunnel.ts
Due: prettier, frontend-lint

refactor: funnel 관련 타입 수정
  frontend/react-app/src/pages/home/components/panelItem/destination/DestinationPanelItem.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/humanSelect/HumanSelectPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/init/InitPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/result/ResultPage.tsx
  frontend/react-app/src/pages/home/hooks/destination/useDestinationPanelFunnel.ts
  frontend/react-app/src/pages/home/hooks/notification/useNotification.ts
Due: prettier, frontend-lint

refactor: 목적지 패널 중 키워드 기반 추천 비즈니스 로직 useSelectKeyword 훅으로 분리
  frontend/react-app/src/pages/home/components/panelItem/destination/keywordItem/KeywordItem.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/keywordItem/RecommendationByKeywordPage.tsx
  frontend/react-app/src/pages/home/hooks/destination/useSelectKeyword.ts
Due: prettier, frontend-lint

refactor: 사용자 선택 패널의 비즈니스 로직을 useHumanSelectCityAndCountry, useHumanSelectCountries 훅으로 분리
  frontend/react-app/src/pages/home/components/panelItem/destination/humanSelect/CitySelect.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/humanSelect/CountrySelect.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/humanSelect/HumanSelectPage.tsx
  frontend/react-app/src/pages/home/hooks/destination/useHumanSelectCity.ts
  frontend/react-app/src/pages/home/hooks/destination/useHumanSelectCityAndCountry.ts
  frontend/react-app/src/pages/home/hooks/destination/useHumanSelectCountries.ts
  frontend/react-app/src/pages/home/hooks/destination/useHumanSelectFunnel.ts
  frontend/react-app/src/pages/home/hooks/destination/useHumanSelectNotification.ts
Due: prettier, frontend-lint

feat: 항공편 추천 컴포넌트 및 컨텍스트 구현
  frontend/react-app/src/pages/home/components/flightSuggestions/FlightSuggestions.tsx
  frontend/react-app/src/pages/home/components/provider/FindFlightContext.tsx
  frontend/react-app/src/pages/home/components/provider/useFindFlightDispatchContext.ts
  frontend/react-app/src/pages/home/components/provider/useFindFlightStateContext.ts
  frontend/react-app/src/pages/home/page.tsx
Due: prettier, frontend-lint

feat: ai 추천 패널에 대한 퍼널 구현
  frontend/react-app/src/pages/home/components/panelItem/destination/DestinationPanelItem.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/AIRecommendationPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/ChatBotPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/init/AIRecommendationInitPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/keywordItem/KeywordItem.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/keywordItem/RecommendationByKeywordPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/result/AIRecommendationResult.tsx
  frontend/react-app/src/pages/home/hooks/destination/useAIRecommendationFunnel.ts
Due: prettier, frontend-lint

feat: react-chatbot-kit 설치 및 챗봇 기능 구현
  frontend/react-app/package.json
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/AIRecommendationPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/ActionProvider.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/ChatBot.css
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/ChatBot.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/ChatBotPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/MessageParser.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/config.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/result/AIRecommendationResult.tsx
  frontend/react-app/src/pages/home/utils/checkNonBlurTarget.ts
  yarn.lock
Due: prettier, frontend-lint

style: 챗봇 스타일 구현
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/ActionProvider.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/ChatBot.css
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/ChatBotPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/MessageParser.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/config.tsx
Due: prettier, frontend-lint

refactor: chatbot의 css 파일 위치 수정
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/ActionProvider.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/ChatBot.tsx
Due: prettier, frontend-lint

chore: 프론트엔드 npx 명령어 yarn dlx로 수정
  .yarn/releases/yarn-4.3.1.cjs
  frontend/react-app/package.json
  package.json
Due: prettier, frontend-lint

feat: 키워드 기반 AI 추천 기능 mock 데이터로 구현
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/AIRecommendationPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/ChatBotPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/keywordItem/RecommendationByKeywordPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/result/AIRecommendationResult.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/result/ResultPage.tsx
  frontend/react-app/src/shared/entities/destination.entity.ts
Due: prettier, frontend-lint

feat: 인공지능 키워드 기반 추천 기능에 대한 결과 페이지 UI 구현
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/result/AIRecommendationResult.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/result/CityCuration.tsx
Due: prettier, frontend-lint

feat: 챗봇의 답변 UI을 mock 데이터로 구현
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/ActionProvider.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/ChatBot.css
Due: prettier, frontend-lint

feat: chatbot 답변 만족 버튼 구현
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/ActionProvider.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/ChatBot.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/ChatBotPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/result/AIRecommendationResult.tsx
Due: prettier, frontend-lint

refactor: 챗봇 기반 추천 시스템 페이지의 컴포넌트 설계 변경
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/ActionProvider.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/ChatBot.css
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/ChatBot.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/ChatBotPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/MessageParser.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/config.tsx
Due: prettier, frontend-lint

fix: destination 타입 수정에 따라 빌드가 안되고, 테스트 실패 문제 수정
  frontend/react-app/src/hooks/useControlMenuList.test.tsx
  frontend/react-app/src/shared/components/sidebar/Sidebar.test.tsx
  frontend/react-app/src/shared/utils/travelInfo/index.test.ts
  frontend/react-app/src/shared/utils/travelInfo/index.ts
  frontend/react-app/src/tests/__mocks__/travelItem.ts
Due: prettier, frontend-lint

feat: 컨텍스트(FindFlightProvider)를 통해 항공권 찾는 함수를 결과 패널에 주입하기
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/ActionProvider.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/ChatBotPage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/MessageParser.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/message/CurationMessage.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/result/ResultPage.tsx
  frontend/react-app/src/pages/home/components/provider/FindFlightContext.tsx
Due: prettier, frontend-lint

style: 항공권 정보을 나타내는 섹션의 배경 스타일링
  frontend/react-app/src/index.css
  frontend/react-app/src/pages/home/components/flightSuggestions/FlightSuggestions.tsx
  frontend/react-app/src/pages/home/components/panelItem/destination/aiRecommendation/chatbot/ActionProvider.tsx
  frontend/react-app/src/pages/home/components/provider/FindFlightContext.tsx
  frontend/react-app/tailwind.config.js
Due: prettier, frontend-lint

뭔가 변함
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
Due: none

테라폼으로 깃허브 자동 클론
  frontend/react-app/Dockerfile
  terraform/main.tf
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
Due: none

테라폼 젠킨스 테스트
  frontend/react-app/Dockerfile
  terraform/main.tf
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
Due: none

feat: 항공권 검색 요청 로딩 애니메이션 구현
  frontend/react-app/package.json
  frontend/react-app/src/constants/localStorageKey.ts
  frontend/react-app/src/pages/home/components/flightSuggestions/FlightSuggestions.tsx
  frontend/react-app/src/pages/home/components/provider/FindFlightContext.tsx
  frontend/react-app/src/shared/atom/flightAtom.ts
  frontend/react-app/src/shared/components/loader/AirplaneLoader.module.css
  frontend/react-app/src/shared/components/loader/AirplaneLoader.tsx
  yarn.lock
Due: prettier, frontend-lint
